<ul class="actors-wraper">
  {{#each this}}

  <li class="cast-wraper">
    <p class="hero-name">{{character}}</p>
    <img src="https://image.tmdb.org/t/p/w200{{profile_path}}" alt="" class="cast-image">
    <p class="actor-name">Actor: {{name}}</p>
  </li>
  {{/each}}
</ul>