    .list-film {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .film {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .film__poster-photo {
        width: 280px;
        height: 402px;
    }
    
    .film__preview {
        margin-top: 10px
    }
    
    .film__preview-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .film__preview-info {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FF6B01;
    }
    
    .film__preview-popularity {
        font-size: 12px;
        color: white;
        text-align: center;
        vertical-align: center;
        width: 36px;
        height: 16px;
        background: #FF6B01;
        border-radius: 5px;
    }
    
    @media screen and (min-width: 768px) {
        .film:nth-child(2n) {
            margin-left: 30px;
        }
        .film__poster-photo {
            width: 291px;
            height: 398px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .film {
            margin-left: 30px;
        }
        .film:nth-child(3n+1) {
            margin-left: 0px;
        }
        .film__poster-photo {
            width: 271px;
            height: 398px;
        }
    }