@import "./options/variables.css";

/* HOW TO USE VARIABLES FROM VARIABLES.CSS  */

/* .h{
  color: var(--red-text-color);
  font-size: var(--main-font-weight);
} */

.header {
}

.section {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
}

.footer {
}

/* ===============modal========================== */
.card-wrapper {
  width: 300px;
  background-color: var(--background-main-color);
  font-family: Roboto;
  color: var(--black-text-color);
  font-style: normal;
  text-align: left;
  margin: 0 auto;
  font-weight: 500;
}
.card-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 15px 20px 10px 20px;
}
.card-list {
  margin: 10px 20px;
  font-size: 12px;
}
.card-item {
  display: flex;
}
.card-item:not(:last-child) {
  margin-bottom: 10px;
}

.card-item__about {
  line-height: 16px;
  color: var(--color-text-modal-window);
  width: 70px;
  margin-right: 40px;
}
.card-item__descript {
  line-height: 14px;
  text-transform: uppercase;
}
.card-item__vote {
  display: inline-block;
  color: var(--white-text-color);
  width: 36px;
  height: 16px;
  background: var(--accent-color);
  /* background: #FF6B01; */
  border-radius: 5px;
  text-align: center;
  padding-top: 3px;
}

.card-item__genre {
  line-height: 16px;
  text-transform: none;
}
.card-description__title {
  margin: 10px 20px 5px 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.card-description__about {
  margin: 5px 20px 10px 20px;
  font-size: 12px;
  line-height: 20px;
}
/* =============================================== */

@media screen and (min-width: 320px) {
  .container {
    max-width: var(--section-mobile-width-size);
  }

  .section {
    max-width: var(--section-mobile-width-size);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--section-tablet-width-size);
    padding-left: 75px;
    padding-right: 75px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: var(--section-tablet-width-size);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: var(--section-desctop-width-size);
    padding-left: 71px;
    padding-right: 71px;
  }

  .section {
    max-width: var(--section-desctop-width-size);
  }
}
