@import "./options/variables.css";
body {
  display: flex;
  flex-direction: column;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./assests/images/header-bcg-chair-mob.jpg);
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.new-bcg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./assests/images/red-chair/header-bcg-red-chair-mob.jpg);
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.header-top {
  padding-top: 41px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  text-decoration: none;
}

.logo-img {
  margin-right: 10px;
}

.logo-txt {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-text-color);
}

.nav-list {
  display: flex;
  margin-bottom: 0px;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--white-text-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.is-active-btn::after {
  display: block;
  content: "";
  height: 3px;
  background-color: red;
}

.header-bottom {
  position: relative;
  text-align: center;

  margin: 0 auto;
}

.input-search {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  caret-color: var(--white-text-color);
  color: var(--white-text-color);
  outline: none;
}
.input-search::placeholder {
  font-size: 14px;
  line-height: 16px;
  border-top: none;
  color: var(--white-text-color);
  caret-color: var(--white-text-color);
}

.input-search.is-not-visible {
  display: none;
}

.search-icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(./assests/images/search-icon.svg);
}

.search-icon.is-not-visible {
  display: none;
}

.footer-text,
.footer-text--first {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #545454;
}

.footer-content {
  margin-top: 28px;
  margin-bottom: 55px;
}

/* нотификация для поля инпут в хедере */

.notify-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  text-align: left;
}

.notify-text.is-not-visible {
  display: none;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 15px;
}

.button-list.is-not-visible {
  display: none;
}

button:focus {
  outline: none;
}

.section {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.footer {
  background-color: #f7f7f7;
  width: 100%;
}

/* LOADER */

.no-js .spinner-border.text-dark {
  display: none;
}
.no-js .header,
.no-js .main,
.no-js .footer {
  display: block !important;
}

/* ===============modal========================== */
/* body.modal-open {
  overflow: hidden;
  position: fixed;
} */
.card-wrapper {
  width: 290px;
  height: auto;
  background-color: var(--background-main-color);
  font-family: Roboto;
  color: var(--black-text-color);
  font-style: normal;
  text-align: left;
  margin: 0 auto;
  font-weight: 500;
  padding: 10px 0;
}

/* .card-image__wrapper {
  width: 260px;
  height: 300px; */

.card-image__wrapper {
  text-align: center;
  margin: 0 20px 15px;
}

.card-image {
  width: 250px;
  height: auto;
  border-radius: 5px;
}
.card-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 15px 20px 10px 20px;
}
.card-list {
  margin: 10px 20px;
  font-size: 12px;
}
.card-item {
  display: flex;
  height: 15px;
}
.card-item:not(:last-child) {
  margin-bottom: 10px;
}

.card-item__about {
  line-height: 16px;
  color: var(--color-text-modal-window);
  width: 70px;
  margin-right: 40px;
}
.card-item__descript {
  line-height: 14px;
  text-transform: uppercase;
}
.card-item__vote {
  display: inline-block;
  color: var(--white-text-color);
  width: 36px;
  height: 16px;
  background: var(--accent-color);
  /* background: #FF6B01; */
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}

.card-item__genre {
  line-height: 16px;
  text-transform: none;
}
.card-description__title {
  margin: 10px 20px 5px 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.card-description__about {
  margin: 5px 20px 10px 20px;
  font-size: 12px;
  line-height: 20px;
}
.card-button__wrapper {
  margin: 20px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-btn {
  border: 1px solid var(--black-text-color);
  color: var(--black-text-color);
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
  padding: 10px 5px;
  width: 120px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.modal-btn:nth-child(2n + 1) {
  margin-right: 10px;
}

.modal-btn:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* =============================================== */

/* WHIS IF FOR SCREEEEENS */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: var(--container-mobile-width-size);
  }

  .section {
    max-width: var(--section-mobile-width-size);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/header-bcg-chair-mob-2x.jpg);
    }
  }
  .footer-text--first {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--container-tablet-width-size);
    padding-left: 75px;
    padding-right: 75px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: var(--section-tablet-width-size);
  }

  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./assests/images/header-bcg-chair-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/header-bcg-chair-tablet-2x.jpg);
    }

    .new-bcg {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/red-chair/header-bcg-red-chair-tablet.jpg);
      min-height: 230px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  .new-bcg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./assests/images/red-chair/header-bcg-red-chair-tablet-2x.jpg);
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .logo-txt {
    display: block;
  }

  .header-bottom {
    width: 393px;
  }

  .input-search {
    width: 336px;
  }
  .input-search:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
  }
  #notify-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  #notify-text.unSuccessful {
    color: #ff001b;
    text-align: center;
  }
  #notify-text.successful {
    color: #7cdbb7;
    text-align: left;
  }

  .search-icon {
    top: 10px;
    right: 60px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 28px;
  }

  /* ===================modal====================== */
  .card-wrapper {
    width: 640px;
    display: flex;
  }

  .card-info__wrapper {
    max-width: 335px;
  }

  .card-title {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: var(--container-desctop-width-size);
    padding-left: 71px;
    padding-right: 71px;
  }

  .section {
    max-width: var(--section-desctop-width-size);
  }

  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./assests/images/header-bcg-chair-pc.jpg);
  }
  /* ============modal====================== */
  .card-wrapper {
    width: 920px;
  }
  .card-info__wrapper {
    max-width: 470px;
  }
  /* ============================= */

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/header-bcg-chair-pc-2x.jpg);
    }

    .new-bcg {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/red-chair/header-bcg-red-chair-pc.jpg);
      min-height: 230px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }

    .new-bcg {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./assests/images/red-chair/header-bcg-red-chair-pc-2x.jpg);
      min-height: 230px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  .card-wrapper {
    width: 920px;
  }

  .card-info__wrapper {
    max-width: 470px;
  }
}

/* стили кнопок для пагинатора  */
.section .tui-pagination .tui-page-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.tui-pagination .tui-page-btn.tui-is-selected {
  background-color: var(--accent-color);
  font-weight: 500;
}
.tui-pagination .tui-page-btn.tui-is-selected:hover {
  background-color: var(--accent-color);
  font-weight: 500;
}

.tui-pagination.is-not-visible {
  display: none;
}

/* стили кнопок для пагинатора  */

/* БАЗОВЫЙ СТИЛЬ КНОПКИ + АКЦЕНТ !!!!!!!!!!! */

.btn {
  background-color: transparent;
  color: var(--white-text-color);
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 136px;
  cursor: pointer;
}

.btn.accent {
  background-color: var(--accent-color);
}

.btn.primary-white {
  border: 1px solid var(--white-text-color);
}

.btn.primary-white:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.btn.primary-black {
  border: 1px solid var(--black-text-color);
}
