.footer-text,
.footer-text--first {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #545454;
}

.footer-content {
  padding-top: 28px;
  padding-bottom: 55px;
}

.footer-text--first {
  margin-bottom: 10px;
}